header{
   background-color: #0B4D15;
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

body{
    margin: 0%;
    }
    
.barra-de-pesquisa{
    justify-content: center;
    border-radius: 10px;
    color: #948F8F;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.pesquisa{
    border:   solid #948F8F 1px;
    display: flex;
    border-radius: 45px;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.barra-de-pesquisa h5 {
    margin: 0;
}

.barra-de-pesquisa img {
    max-width: 20px;
    height: auto;
    margin: 3px;
}

img.barra-de-pesquisa{
    width: 22px;
    margin: 8px; 
    }


    .menu{
    max-width: 50px;
    height: auto;
}    
.logo{
    height: auto;
    max-width: 100px;
}

img.header{
    width: 22px;
    margin: 8px;
}

.top-10{
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: solid #948F8F 3px;
}

.pag-inicial-sementes{
    width: 100%;
    justify-content: center;
    display: flex;
}

.img-pag-inicial{
    width: 80%;
}
