header{
   background-color: #0B4D15;
   display: flex;
}

body{
    margin: 0%;
    }
    
.barra-de-pesquisa{
    text-align: center;
    border: solid #948F8F 1px;
    border-radius: 10px;
    color: #948F8F;
    display: flex;
}

img{
    width: 22px;
    margin: 8px;
    }

.menu{
    align-self: flex-start;
}    
.logo{
    align-self: flex-end;
}