header{
   background-color: #0B4D15;
   grid-template-columns: 40% 40%;
}

body{
    margin: 0%;
    }
    
.barra-de-pesquisa{
    text-align: center;

}

h5{
    border: solid #948F8F 1px;
    border-radius: 10px;
}
img{
    width: 22px;
    margin: 8px;
    }
